.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .drink-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 350px; 
  }
  
  .drink-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  
  .drink-info {
    margin-top: 10px;
    text-align: center;
  }
  