.App-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(222, 188, 126);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1; /* 確保 footer 在背景圖之上 */
    text-align: center;
  }
  
  .footer-text {
    position: fixed;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  